.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
  z-index: 9999;
  padding: 50px 0;
}

.add_section {
  background-color: white;
  box-shadow: 0 0 10px #00000080;
  min-width: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.add_section input {
  border: none;
  outline: none;
  background-color: #f8f4f474;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.add_section input:focus {
  background-color: #57545448;
}

.add_section input::placeholder {
  font-weight: 500;
  font-size: .8rem;
}

.add_section button {
  border: none;
  background-color: transparent;
  outline: none;
}

.add_button {
  cursor: pointer;
  color: #007bffd4;
}

.add_button:hover {
  color: #007bff;
}

.list_section {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  min-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title_list {
  text-align: center;
  font-weight: bolder;
  font-size: 1rem;
  text-transform: capitalize;
  max-width: max-content;
  margin: auto;
  border: 3px solid #007bff;/*343a40*/
  border-top: none;
  border-bottom: 0;
  padding: 0 5px;
}

.list_content {
  list-style: none;
  margin-top: 10px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-height: 700px;
  overflow: auto;
}

.list_content::-webkit-scrollbar {
  width: 3px;
}

.list_content::-webkit-scrollbar-thumb {
  background-color: #6c757d;
}

.list_content li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #6c757d5d;
  font-size: .9rem;
  opacity: 0;
  animation: popup .5s ease-in-out forwards;
}

@keyframes popup {
  from{
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.list_content li:hover {
  background-color: #6c757d77;
}

.delete_button {
  color: #dc3545;
  cursor: pointer;
}